body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


a {
    color: #00B7FF;
}

.table {
    min-width: 400px;
}

.errors {
    color: red;
}

.error div {
    color: red;
    font-weight: bold;
}